<a href="https://colab.research.google.com/github/dhanyasngce/NEWREPO/blob/main/Third_Cj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
birth_year=int(input('Enter your birth year:'))
age= 2020-birth_year
print(age)

Enter your birth year:1982
38

In [ ]:
price=25
print(not price>10)
&
|
~
^
>>
<<

False

In [ ]:
print()
print(8*"\n")
print("hello world",end='*')
name=input('What is your name ?')
print('hello' +name)

In [ ]:
course='Python for Beginners'
print(course.upper())
print(course.lower())
print(course.find('i'))
print(course.find('for'))
print(course.replace('for','ggg'))
x=5
y=6
print('The value of x is {} and y is {}'.format(x,y))
print('I love {1} and {0}'.format('bread','butter'))

PYTHON FOR BEGINNERS
python for beginners
14
7
Python ggg Beginners
The value of x is 5 and y is 6
I love butter and bread

In [ ]:
a=10 
print (a)
print(a-2)
print(a)
st="äbcd"
print (st)
print(st.upper())
print(st)
list=[1,2,3,4,5]
print(list)
list.remove(3)
print(list)

10
8
10
äbcd
ÄBCD
äbcd
[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [ ]:
a='helloxyz!'
max(a)
min(a)
len(a)

9

In [ ]:
if True:
  print (" hai")
  print("hello")

 hai
hello

In [ ]:
x=int(input("Enter the number"))
r=x%2 
if r==0 :
  print("No is Even")
if r==1 :
  print("No is odd")
print ("bye")

Enter the number6
No is Even
bye

In [ ]:
x=int(input("Enter the number"))
r=x%2 # 0 or 1
if r==0 :
  print("No is Even")
else :
  print("No is odd")
print ("bye")

Enter the number11
No is odd
bye

In [ ]:
x=int(input("Enter the number"))
r=x%2 # 0 or 1
if r==0 :
  print("No is Even")
  if x>5:
    print("good")
  else:
    print('bad')
if r==1 :
  print("No is odd")
print ("bye")

Enter the number4
No is Even
bad
bye

In [ ]:
x=int(input("Enter the number"))

if x==1:
  print('One')
if x==2:
  print('two')
if x==3:
  print('three')

Enter the number3
three

In [ ]:
x=int(input("Enter the number"))

if x==1:
  print('One')
elif x==2:
  print('two')
elif x==3:
  print('three')
else:
  print('its wrong')

Enter the number4
its wrong

In [ ]:
temperature=int(input("Enter the todays temperature:"))
if temperature>30:
  print('it is a hot day')
  print('Drink plenty of water')
elif temperature>20:
  print('Moderate climate')
elif temperature>10:
  print("bit cold")
else:
  print('too cold')

Enter the todays temperature:9
too cold

In [ ]:
weight=int(input("What is you weight"))
unit=input("ïs this in Kg or Lbs" )
if unit.upper() == "L":
  converted=int(weight/0.45)
  print('weight in Lbs:' +str(converted))
else:
  converted=int(weight*0.45)
  print(f"weight in Kg {converted}")

What is you weight80
ïs this in Kg or Lbsd
weight in Kg 36

In [ ]:
3/2
3//2
x=(10+3)*2
print(x)
>
<
==
!=

26

In [ ]:
i=1
while i< 10:
  print(i)
  print(i * '@')
  i=i+1

1
@
2
@@
3
@@@
4
@@@@
5
@@@@@
6
@@@@@@
7
@@@@@@@
8
@@@@@@@@
9
@@@@@@@@@

In [ ]:
i=1
while i<=5:
  print('Python',i)
  i=i+1

Python 1
Python 2
Python 3
Python 4
Python 5

In [ ]:
i=5
while i>=1:
  print('Python',i)
  i=i-1

Python 5
Python 4
Python 3
Python 2
Python 1

In [ ]:
i=1
while i<=5:
  print('Python')
  j=1
  while j<=4 :
    print('Programming')
    j=j+1
  i=i+1
  print()
print('Bye')

Python
Programming
Programming
Programming
Programming

Python
Programming
Programming
Programming
Programming

Python
Programming
Programming
Programming
Programming

Python
Programming
Programming
Programming
Programming

Python
Programming
Programming
Programming
Programming

Bye

In [ ]:
x=['dh',25,5.2]
print(x)

['dh', 25, 5.2]

In [ ]:
x=['dh',25,5.2]
for i in x:
 print(i)

dh
25
5.2

In [ ]:
x="Python"
for i in x:
  print(i)

P
y
t
h
o
n

In [ ]:
for i in range(11,21,3):
 print(i)

11
14
17
20

In [ ]:
for i in range(20,11,-1):
  print(i)

20
19
18
17
16
15
14
13
12

In [ ]:
for i in range(2,10,1):
  if(i==6): break
  print(i)
print('End of program')

2
3
4
5
End of program

In [ ]:
i=5
while i>0:
  if(i==3): break
  print(i)
  i=i-1
print("End of the program")

5
4
End of the program

In [ ]:
x=['dh,25,5.2']
print(x)

['dh,25,5.2']

In [ ]:
x=['dh,25,5.2']
for
print(x)

In [ ]:
names=['áaa','bbb','ccc','ddd',1]
#print(names)
#print(names[-3])
print(names[0:4])
#names[0]='fff'
#print(names)
#print(names[-1])

['áaa', 'bbb', 'ccc', 'ddd']

**List**
- The list is a most versatile datatype available in Python which can be written as a list of comma-separated  values  (items)  between  square  brackets.  Important  thing about a list is that items in a list need not be of the same type.
- Creating a list is  as  simple as  putting different comma-separated values between square brackets.
- For example −list1 = ['physics', 'chemistry', 1997, 2000]
- list2 = [1, 2, 3, 4, 5 ]
- list3 = ["a", "b", "c", "d"]
-The  values  stored  in  a  list  can  be  accessed  using  the  slice  operator[]and [:]with indexes starting at 0 at the beginning of the list and ending with -1.
- The + sign is the concatenation operation And * is the repetition operation

In [ ]:
g1=[123,'xyz','abc','xyz']
g2=['mmm','nnn']
print(len(g1))
g3=[1,5,8,5,10]
print(max(g3))
print(min(g3))

4
10
1

In [ ]:
#Build in list methods
number=[1,2,3,4,5]
number.append(6)
#number.insert(0,-1)
number.remove(3)
number.clear()
print(number)

[]

In [ ]:
g1=[123,'xyz','abc','xyz']
g2=['mmm','nnn']
print('count of xyz',g1.count('xyz'))
print('Index of abc',g1.index('abc'))
g1.extend(g2)
g1.insert(1,'ggg')
g3=[5,9,3,1,2,8]
g3.sort()
g3.sort(reverse=True)
print('Sorted list',g3)
print('Reversed list',g3)
#print('Extended list is',g1)
#print('Ínsert ggg in the index 1',g1)

count of xyz 2
Index of abc 2
Sorted list [9, 8, 5, 3, 2, 1]
Reversed list [9, 8, 5, 3, 2, 1]

In [ ]:
l1=[3,1,7,9]
l1.pop(2)
print('poped list',l1)

poped list [3, 1, 9]

In [ ]:
l1=[1,5,6,8]
l1.clear()
print('Cleared list',l1)

Cleared list []

In [ ]:
l1=[1,5,6,8]
l2=l1.copy()
l1.clear()
print('Çleared list l1',l1)
print('Copied list',l2)

Çleared list l1 []
Copied list [1, 5, 6, 8]

Using List as Stacks
- The  List  can  be  used  as  a  stack.  stack  is  a  data  structure  where  the  last  element added is the first element retrieved.
- The list methods make it very easy to use a list as a stack. To add an item to the top of the stack, use append().To retrieve an item from the top of the stack , use pop() without an explicit index.

In [ ]:
#Using List as Stacks
s1=[2,45,21,67]
#s1.sort()
print(s1)
s1.append(50)
print(s1)
s1.pop()
print(s1)

[2, 45, 21, 67]
[2, 45, 21, 67, 50]
[2, 45, 21, 67]

Using List as Queue
-  lists are not efficient for this purpose. 
 -While appends and pops from the end of list are fast, doing inserts and pops from the beginning of a list is slow since all of the other elements have to be shifted by one
 - To  implement  a  queue,  python  provides  a  module  called  collections  in  which  a method called deque is designed to have fast appends and pops from both ends.

In [ ]:
#Using List as Queues
import collections
q1=collections.deque(['a','b','c','d'])
print(q1)
q1.append('e')
print(q1)
q1.popleft()
print(q1)

deque(['a', 'b', 'c', 'd'])
deque(['a', 'b', 'c', 'd', 'e'])
deque(['b', 'c', 'd', 'e'])

Tuple
- A tuple is a sequence of immutablePython objects. Tuples are sequences, just like lists. 
-  The  differences  between  tuples  and  lists  are,  the  tuples  cannot  be  changed unlike lists and tuples use parentheses, whereas lists use square brackets
- Tuples can be considered as read only lists.

In [ ]:
#Tuples
t1=(93,2,4,1,59)
print(t1)
t2=('a','b')
print(t2)
print(t1[0])
print(t1[0:])
print(t1[0:-1])
print(t1[0:5])
print(t1*2)
print(t1+t2)

(93, 2, 4, 1, 59)
('a', 'b')
93
(93, 2, 4, 1, 59)
(93, 2, 4, 1)
(93, 2, 4, 1, 59)
(93, 2, 4, 1, 59, 93, 2, 4, 1, 59)
(93, 2, 4, 1, 59, 'a', 'b')

#t1[0]=89
#print(t1)
#del t1[0]
#del t1
#Pack and Unpack values,can create tuple even without paranthesis,Reverse operation is called sequence packing 
Works for any sequence on the right hand side

In [ ]:
t1=1,2,3
print(t1)
x,y,z=t1
x
y
print(t1)
print(x,y,z)

(1, 2, 3)
(1, 2, 3)
1 2 3

In [ ]:
#Build in tuples functions
#len(tuple)
#max(tuple)
tuple1,tuple2=(1,2,3),(4,5,6)
print('Length of first tuple',len(tuple1))
print(tuple2)
max(tuple2)
min(tuple2)
#convert a list to tuple
alist=[1,'a','b',20]
atuple=tuple(alist)
print("Tuple elements are",atuple)

Length of first tuple 3
(4, 5, 6)
Tuple elements are (1, 'a', 'b', 20)


Set is an unordered collection of unique items. Setis defined by values separated by comma inside braces{ }.It can have any number of items and they maybe of different types(integer,float,tuple,string etc).items in a set are not ordered. Since they are unordered we cannot access or change an element of set using indexing or slicing. we can perform set operations like union ,intersection, difference on two sets. Set have unique values. They eliminate duplicates. The slicing operator [] does not work with sets. An empty set is created by the function set().

In [ ]:
s1={1,2,3}
print(s1)
s2={1,2,3,1,4,3} #output only unique values
print(s2)
#s3={[2,3]) error

{1, 2, 3}
{1, 2, 3, 4}

Dictionary-Is an unordered collection of Key -Value pairs
Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.Keys  are  unique  within  a  dictionary  while  values  may  not  be.  The  values  of  a dictionary  can  be  of  any  type,  but  the  keys  must  be  of  an  immutable  data  type such as strings, numbers, or tuples.

In [ ]:
data ={1:'ah', 2:'bh', 4:'dh'}
print(data)

{1: 'ah', 2: 'bh', 4: 'dh'}

In [ ]:
data ={1:'ah', 2:'bh', 4:'dh'}
print(data[4])
#print(data[3])

dh

KeyError: ignored

In [ ]:
data ={1:'ah', 2:'bh', 4:'dh'}
data.get(1)
data.get(4)
data.get(3)
data.get(3,'Page not found' )

'Page not found'

In [ ]:
keys=['a','b','c']
values=['phy','che','math']
data=dict(zip(keys,values))
print(data)
data['b']
data['d']='mal'
print(data)
#data

{'a': 'phy', 'b': 'che', 'c': 'math'}
{'a': 'phy', 'b': 'che', 'c': 'math', 'd': 'mal'}

In [ ]:
prog={'JS':'Atom','cs':'vs','Phython':['Pycham','Sublime'],'Java':{'JES':'Net Beans','JEE':'Eclipse'}}
prog['JS']
prog['Phython']
prog['Phython'][1]
prog['Java']
prog['Java']['JEE']

'Eclipse'

**List Comprehension**
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
Syntax:
[expr for val in collection]
[expr for val in collection if<test>]
[expr for val in collection if<test1> and if<test2>]

The Syntax
newlist = [expression for item in iterable if condition == True]
The return value is a new list, leaving the old list unchanged.

Condition
The condition is like a filter that only accepts the items that valuate to True.

In [ ]:
#List of squares
# list of squarea with first 100 positive integers
squarelist=[]
for i in range(1,101):
  squarelist.append(i**2)
print(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
squarelist=[i**2 for i in range(1,101)]
print(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
#squarelist=[1,4,9,16,25]
squarelist=[i**2 for i in range(1,6)]
print(squarelist)

[1, 4, 9, 16, 25]

In [ ]:
#want a new list, containing only the fruits with the letter "a" in the name.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#With list comprehension you can do all that with only one line of code:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#Looping on list
list1=[1,3,5,7,9]
list2=[2,4,6,8,10]
#[(1,2),(3,4),(5,6),(7,8),(9,10).....]
pair =[(x,y) for x in list1 for y in list2 if x!=y]
print(pair)

[(1, 2), (1, 4), (1, 6), (1, 8), (1, 10), (3, 2), (3, 4), (3, 6), (3, 8), (3, 10), (5, 2), (5, 4), (5, 6), (5, 8), (5, 10), (7, 2), (7, 4), (7, 6), (7, 8), (7, 10), (9, 2), (9, 4), (9, 6), (9, 8), (9, 10)]

Python break statement

The break statement takes care of terminating the loop in which it is used. If the break statement is used inside nested loops, the current loop is terminated, and the flow will continue with the code followed that comes after the loop.

In [ ]:
for letter in 'Python':    
   if letter == 'h':
      break
   print ('Current Letter :', letter)
  
var = 10                    
while var > 0:              
   print ('Current variable value :', var)
   var = var -1
   if var == 5:
      break

print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

**The continue Statement:**

The continue statement in Python returns the control to the beginning of the while loop. The continue statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop.

The continue statement can be used in both while and for loops.

In [ ]:
for letter in 'Python':  
   if letter == 'h':
      continue
   print ('Current Letter :', letter)

var = 10                   
while var > 0:              
   var = var -1
   if var == 5:
      continue
   print ('Current variable value :', var)
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

**The pass Statement:**

The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.

The pass statement is a null operation; nothing happens when it executes. The pass is also useful in places where your code will eventually go
It is used as a placeholder

In [ ]:
for letter in 'Python': 
   if letter == 'h':
      pass
      print ('This is pass block')
   print ('Current Letter :', letter)

print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n
Good bye!

In [ ]:
#print 0-9 excluding 9
count=0
while count < 9:
  print("number:",count)
  count=count+1
print("goodbye")

number: 0
number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
goodbye

In [ ]:
#Using random no-Gussing game
import random
n=20
no_gussed=int(n*random.random()+1)
#print("random no",no_gussed)
guess=0
while guess!= no_gussed:
  guess=int(input("New no:"))
  if guess>0:
    if guess >no_gussed:
      print("no is too large",)
    elif guess<no_gussed:
      print("no is too small")
  else:    
     print("Sorry i am giving up")
     break
else:
  print("congrats ,you made it")

no is too large
no is too large
no is too large
no is too large
no is too large

In [ ]:
fruits=['mango','grapes','apple']
for f in fruits:
  print ("Current fruit:",f)
print('goodbye')

Current fruit: mango
Current fruit: graps
Current fruit: apple
goodbye

In [ ]:
#nested loop 
for i in range(2,20,1):
  count =0
  for j in range(1,i+1,1):
    if i%j == 0:
      count=count+1
  if count==2:
    print(i," is prime")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime

In [ ]:
#gcd of two positive integers
a =int(input("Enter the first no:"))
b=int(input("Enter the second no"))
for i in range(1,min(a,b)+1):
  if(a%i==0 and b%i==0):
    gcd=i
print("GCD of ",a,"and",b,"is",gcd)

Enter the first no:5
Enter the second no25
GCD of  5 and 25 is 5

In [ ]:
#factorial of given no
num=int(input("Number:"))
fact=1
#if num==0:
 # print("Factorial is 1")
#else:
  for i in range(1,num+1):
    fact=fact*i
print("Factorial of the given no is", fact)
print("goodbye")

Number:0
Factorial is 1
Factorial of the given no is 1
goodbye

In [ ]:
#Fibonacci series of first Nnumber
n=int(input("Enter the number of terms:"))
f1,f2=0,1
f3=f1+f2
print("the fibonacci series of first ",n,"terms")
print(f1)
print(f2)
for i in range(3,n+1):
  print(f3)
  f1=f2
  f2=f3
  f3=f1+f2

Enter the number of terms:7
the fibonacci series of first  7 terms
0
1
1
2
3
5
8

In [ ]:
#Print no from 1-20 ,For every 3 multiples print MCA and fifth multiple print @SNGCE and for both 3rd and 5th multiple print MCA@SNGCE
for i in range(1,21):
  if i%3==0 and i%5==0:
    print("MCA@SNGCE")
  elif i%3==0:
    print("MCA")
  elif i%5==0:
    print("@SNGCE")
  else:
    print(i)
print("GOOD bye")

1
2
MCA
4
@SNGCE
MCA
7
8
MCA
@SNGCE
11
MCA
13
14
MCA@SNGCE
16
17
MCA
19
@SNGCE
GOOD bye

In [ ]:
#program for pyramid
''' print a pattern
1
2 2
3 3 3
4 4 4 4
'''
n=int(input("Enter the step size"))
for i in range(1,n+1):
  for j in range (1,i+1):
    print(i,end=' ')
  print()

Enter the step size3
1
2 2
3 3 3

In [ ]:
"""#prm to print Pythagorean number
|\
| \
|__\ a**2 +b**2 =c**2"""

from math import sqrt
n=int(input("Maximal no:"))
for a in range (1,n+1):
  for b in range(a,n):
    c_square=a**2 + b**2
    c=int(sqrt(c_square))
    if((c_square-c**2)==0):
      print(a,b,c)

Maximal no:20
3 4 5
5 12 13
6 8 10
8 15 17
9 12 15
12 16 20

In [ ]:
#for loop inside a while loop
#Bulk Reservation of ticket
travelling = input("yes  or no")
while travelling == "yes":
  num=int(input("no of people travelling"))
  for num in range(1,num+1):
    name=input("Name of the Passenger:")
    age=input("Age:")
    sex=input("Male or Female:")
    print(name)
    print(age)
    print(sex)
    break
travelling=input("oops ! i forgot someone")

yes  or noyes
no of people travelling2
Name of the Passenger:s
Age:23
Male or Female:Male
s
23
Male
no of people travellingno

ValueError: ignored

In [ ]:
#Lambda Function definition
square=lambda x : x*x
#usage of lambda function
n=int(input("Ënter a number "))
print("Square of number is  " , square(n))#lambda function call

Ënter a number 4
Square of number is   16

In [ ]:
sum=lambda x,y :x+y
m=int(input('Enter the first number : '))
n=int(input("Enter the second number :"))
print("Sum of two numbers",sum(m,n))

Enter the first number : 3
Enter the second number :6
Sum of two numbers 9

In [ ]:
print("Select\n 1.Area of Square\n 2.Area of rectangle")
n=int(input('Enter the choice: 1/2'))

if(n==1):
  area_square=lambda a : 4*a
  a=int(input("Enter the side of a square:"))
  print("Area of square is :",area_square(a))
elif(n==2):
  area_rectangle=lambda l,b : l*b
  l=int(input('Ënter the length of rectangle' ))
  b=int(input('Ënter the breadth of rectangle' ))
  print('Area of rectangleis ;',area_rectangle(l,b))
else:
  print("Ïnvalid choice")

Select
 1.Area of Square
 2.Area of rectangle
Enter the choice: 1/21
Enter the side of a square:4
Area of square is : 16

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
Area_Circle=pi*r**2
print('Area of circle is {}'.format(Area_Circle))

Input the radius of the circle : 2
Area of circle is 12.566370614359172

 #** Passing function as an argument in Python**
 function can take multiple arguments, these arguments can be objects, variables(of same or different data types) and functions. Python functions are first class objects. In the example below, a function is assigned to a variable. This assignment doesn’t call the function. It takes the function object referenced by shout and creates a second name pointing to it, yell.

In [ ]:
 # Python program to illustrate functions  
# can be treated as objects  
def shout(text):  
    return text.upper()
print(shout('Hello'))  
    
yell = shout  
    
print(yell('Hello'))

HELLO
HELLO

#Uses of lambda function- used with filter(),map() etc
#filter() takes in a function and a list as arguments
#The function is called with all the items in the list and a new list is returned which contains items for which the function evaluates to true

In [ ]:
oldlist=[2,41,54,3,22,99,55]
newlist=list(filter(lambda x: (x%2!=0),oldlist))
print(oldlist)
print(newlist)

[2, 41, 54, 3, 22, 99, 55]
[41, 3, 99, 55]

In [ ]:
# using map()
# in python map() function takes in a function and a list
oldlist=[2,45,6,99,33,55]
print(oldlist)
newlist=list(map(lambda x: x+2,oldlist))
print("List after incrementation by 2")
print(newlist)

[2, 45, 6, 99, 33, 55]
List after incrementation by 2
[4, 47, 8, 101, 35, 57]

In [ ]:
def rec_fact(x):
  if x==1:
    return 1
  else:
    return(x * rec_fact(x-1))
num=int(input("Enter a number : "))
if num >= 1:
  print("The factorial of the number is ", rec_fact(num))

Enter a number : 3
The factorial of the number is  6

In [ ]:
# function with more than one return value
def calc(a,b):
  sum=a+b
  diff=a-b
  prod=a*b
  quot=a/b
  return sum,diff,prod,quot
a=int(input("Enter the first number :"))
b=int(input("Enter the second Number :"))
s,d,p,q=calc(a,b)
print("Sum =" ,s)
print("Diff=",d)
print("Product",p)
print("Quotient=",q)

Enter the first number :4
Enter the second Number :6
Sum = 10
Diff= -2
Product 24
Quotient= 0.6666666666666666

In [ ]:
import time
sec=time.time()
print("no of seconds since 12:00am,January 1,1970",sec)

no of seconds science 12:00am,January 1,1970 1613030664.5449011

In [ ]:
import time
print("The time is;",time.ctime())
later=time.time()+30
print("30 sec from now:",time.ctime(later))

The time is; Thu Feb 11 08:07:11 2021
30 sec from now: Thu Feb 11 08:07:41 2021

In [ ]:
import time
print("gmtime:",time.gmtime())
print("localtime;",time.localtime())
print("mktime:",time.mktime(time.localtime()))
t=time.localtime()
print("Current year;",t.tm_year)
print("Current month:",t.tm_mon)
print("Current day:" ,t.tm_mday)
print("Day of month",t.tm_mday)
print("Day of week" ,t.tm_wday)
print("Day of year:",t.tm_yday)
print("DST:",t.tm_isdst)

gmtime: time.struct_time(tm_year=2021, tm_mon=2, tm_mday=11, tm_hour=8, tm_min=55, tm_sec=6, tm_wday=3, tm_yday=42, tm_isdst=0)
localtime; time.struct_time(tm_year=2021, tm_mon=2, tm_mday=11, tm_hour=8, tm_min=55, tm_sec=6, tm_wday=3, tm_yday=42, tm_isdst=0)
mktime: 1613033706.0
Current year; 2021
Current month: 2
Current day: 11
Day of month 11
Day of week 3
Day of year: 42
DST: 0

In [ ]:
n=int(input("Enter a limit:"))
print(f"Enter {n} values:")
s=0
lst=[]
for i in range(0,n):
    lst.append(int(input()))
    s=s+lst[i]
print(s)

Enter a limit:3
Enter 3 values:
2
6
5
13

In [ ]:
import datetime
r=datetime.datetime.now()
print(r)

2021-02-11 09:05:52.207408

In [ ]:
import datetime
cd=datetime.datetime(2021,2,11)
print(cd)

2021-02-11 00:00:00

In [ ]:
import datetime
cd=datetime.datetime.now()
re=cd.strftime('%f')
print(re)

067567